In [8]:
import pandas as pd 
import numpy as np
from dateutil.parser import parse
d=pd.to_datetime('20140411')
print(d)
print(parse('20140411'))

2014-04-11 00:00:00
2014-04-11 00:00:00

In [19]:
s = pd.DataFrame(np.arange(10).reshape(5,2),columns=['a','b'])
print(s)
s.groupby('b')['a'].agg([('mav','max')])

   a  b
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

   mav
b
1    0
3    2
5    4
7    6
9    8

In [16]:
import os 
os.path.join(r'e:\pycode\pycode\支出',r'data\oqp.txt')

'e:\\pycode\\pycode\\支出\\data\\oqp.txt'