In [12]:
import pandas as pd 
import numpy as np 

df=pd.DataFrame(np.arange(10).reshape((-1,2)),columns=['a','b'])
print(df)
df.sort_values(by='a',inplace=True,ascending=False)
print(df)
df.loc[0]

   a  b
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9
   a  b
4  8  9
3  6  7
2  4  5
1  2  3
0  0  1

a    0
b    1
Name: 0, dtype: int32

In [18]:
s1=[1,2]
s2=[3,4]
s3=[]
s3.append(s1)
s3.append(s2)
s3
pd.DataFrame(s3)

   0  1
0  1  2
1  3  4

In [19]:
type('s')

str

In [17]:
df = pd.DataFrame({'a': [10, 20, 30, 40, 50],
                   'b': [None, None, None, None, 500]},
                  index=pd.DatetimeIndex(['2018-02-27 09:01:00',
                                          '2018-02-27 09:02:00',
                                          '2018-02-27 09:03:00',
                                          '2018-02-27 09:04:00',
                                          '2018-02-27 09:05:00']))
print(df)    
df.asof(pd.DatetimeIndex(['2018-02-27 09:03:30',
                          '2018-02-27 09:04:30']),
        subset=['a'])

                      a      b
2018-02-27 09:01:00  10    NaN
2018-02-27 09:02:00  20    NaN
2018-02-27 09:03:00  30    NaN
2018-02-27 09:04:00  40    NaN
2018-02-27 09:05:00  50  500.0

                        a   b
2018-02-27 09:03:30  30.0 NaN
2018-02-27 09:04:30  40.0 NaN

In [20]:
df=pd.DataFrame(np.arange(6).reshape((2,3)))
print(df)
df.sum(1)

   0  1  2
0  0  1  2
1  3  4  5

0     3
1    12
dtype: int64